.header {
  padding: 5px 150px;
  display: flex;
  justify-content: space-between;

  &_sect {
    display: flex;
    gap: 32px;
    align-items: center;

    a {
      font-size: 23px;
      font-weight: 600;
      line-height: 27.6px;
      text-align: center;
      text-decoration: none;
      color: #282b32;

      img {
        width: 30px;
        height: 30px;
      }
    }
  }

  &_logo {
    width: 100px;
  }
}
